---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const blog = await getCollection("blog");
import "@fontsource-variable/open-sans";

blog.sort(
  (a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf()
);
---

<Layout title={`${SITE_TITLE} - Projects`} description={SITE_DESCRIPTION}>
  <div class="p-2 max-w-[calc(100%_-_2em)] w-[1024px] m-auto mt-10">
    <h1 class="dark:text-white font-bold text-xl text-center mb-10">
      Here are my blogs, enjoy!
    </h1>
    <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3">
      {
        blog.map((article) => (
          <a
            href={`/blog/${article.slug}/`}
            class="dark:text-white text-black dark:bg-stone-900 bg-white relative rounded-lg hover:scale-105 transition-transform duration-100"
          >
            <div>
              <Image
                src={article.data.heroImage}
                class="aspect-video rounded-t-lg"
                width={1600}
                height={900}
                alt="Blog post hero"
              />
            </div>
            <div class="w-full flex flex-col justify-end p-4 rounded-b-lg">
              <h2 class="font-semibold text-lg" id="title">
                {article.data.title}
              </h2>
              <p class="line-clamp-2 text-sm font-thin">
                {article.data.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
<style>
  #title {
    font-family: "Open Sans Variable", sans-serif;
  }
</style>
