---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
interface Props {
  title: string;
  description: string;
  image: string;
}
import "../styles/global.css"

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#f5f5f5" />
<link rel="sitemap" href="/sitemap-index.xml" />


<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<!-- Umami Analytics -->
<script async src="https://analytics.eu.umami.is/script.js" data-website-id="51d32a71-8eb0-414f-82f2-6acbaffee454" is:inline></script>
<!-- Cloudflare Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e2bd0908963e472ca445eeb1ee771c35"}'></script>


<ViewTransitions />