---
import { SITE_TITLE } from "../consts";
import Layout from "./Layout.astro";
const { title, heroImage, description, datePublished} = Astro.props;
import "../styles/project.css";
import FormattedDate from "../components/FormattedDate.astro";
---

<Layout title={`${SITE_TITLE} - Blog`} description={description}  image={heroImage}>
  <article class="w-[720px] max-w-[calc(100%_-_2em)] dark:text-white m-auto">
    <div>
      <div class="my-10">
        <h1 class="text-4xl font-bold text-center">{title}</h1>
        <img
          class="m-auto mb-6"
          src={heroImage}
        />
        <FormattedDate date={datePublished}/>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>